@using Luckyu.App.Organization;
@using Luckyu.App.Workflow;
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";

    var loginInfo = ViewBag.UserInfo as UserModel;
}

<div class="bui-page bui-box-vertical">
    <header>
        <div class="bui-bar">
            <div class="bui-bar-left">
                @*<div class="bui-btn" onclick="bui.back();"><i class="icon-back"></i></div>*@
            </div>
            <div class="bui-bar-main">
                @AppSettingsHelper.GetAppSetting("SoftName")  @AppSettingsHelper.GetAppSetting("SoftVersion")
            </div>
            <div class="bui-bar-right">
            </div>
        </div>
    </header>
    <main>
        <div id="tabFoot" class="bui-tab bui-box-vertical">
            <div class="bui-tab-main">
                <ul>
                    <li>

                    </li>
                    <li style="display: none;">
                        <ul class="bui-list">
                            @foreach (var item in ViewBag.Historys as List<wf_taskhistoryEntity>)
                            {
                                <li class="bui-btn">
                                    <h3 class="item-title">@(item.result==1?"<span class=\"success-reverse\">【通过】</span>":"<span class=\"error-reverse\">【驳回】</span>")@item.create_username @item.opinion</h3>
                                    <p class="item-text">@item.createtime.Value.ToString("yyyy-MM-dd HH:mm:ss")</p>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <ul id="tabFootNav" class="bui-nav">
            <li class="bui-btn bui-box-vertical active">
                <i class="fa fa-keyboard-o"></i>
                <div class="span1">表单</div>
            </li>
            <li class="bui-btn bui-box-vertical">
                <i class="fa fa-code-fork"></i>
                <div class="span1">流程</div>
            </li>
        </ul>
    </footer>
</div>

@section Footer{
    @Html.AppendJs("~/Areas/MobileModule/Views/MWorkflow/ApproveForm.js")
}